<div class="container">
	<mat-toolbar color="primary" class="header">
		<div>Sahil Patel</div>
		<div style="display: flex; justify-content: space-between;">
			<h1>Sentiment Analysis</h1>
		</div>
		<span class="nav-tool-items">
			<mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
		</span>
	</mat-toolbar>

	<mat-sidenav-container>
		<mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
			[fixedTopGap]>
			<mat-nav-list>
				<a mat-list-item [routerLink]="'/sentiment'">
					<mat-icon>sentiment_satisfied</mat-icon> Sentiment Analysis
				</a>
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content>
			<!-- Applying the mat-tyography class adds styles for native elements. -->
			<router-outlet></router-outlet>
		</mat-sidenav-content>

	</mat-sidenav-container>
</div>